#outer-box {
    background-color: #BDC3CB;
    padding: 1% 1% 1% 1%;
    border-radius: 1em;
    width: 90%;
    height: 40%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}

#inner-box-info {
    background-color: #EDE7DC;
    margin-left: 1%;
    display: inline-block;
    border-radius: 1em;
    width: 98%;
    padding: 1% 1% 1% 1%;
}

label {
    color: black;
    font-weight: 600;
    font-size: 1.2em;
    margin-right: 100px;
    text-align: left;
    width: 100%;
    display: inline-block;
}

#label-name-first {
    margin-right: 100px;
}

span {
    color: black;
    font-weight: 500;
    font-size: 1.2em;
    margin-left: 7%;
    text-align: right;
    display: inline-block;
}

li {
    text-align: left;
}