/* user_info component */

.user-info-label {
    width: 150px;
    font-weight: 500;
    font-size: 1.2em;
    white-space: nowrap;
    display: inline-block;
  }
  
  .user-info-span {
    color: black;
    font-weight: 500;
    font-size: 1.2em;
    margin-left: 1em;
    text-align: right;
    display: inline-block;
    white-space: nowrap;
  }
  
  .user-info-list {
    width: 100% 
  }
  
  .user-info-list-item {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    width: 100%;
  }
  