/* add_record_panel component */

.add-record-label {
    color: #000000;
    font-weight: 500;
    font-size: 1.2em;
    margin-right: 1em;
    display: inline-block;
    text-align: right;
    width: 3em;
    vertical-align: top;
  }
  
  .add-record-select {
    background-color: #FFFFFF ;
    width: 40%;
    margin-left: 0.7em;
    border-radius: 1em;
    padding: 0.2em 0.3em 0.2em 0.3em;
    color: #000000;
  }
  
  .add-record-input {
    background-color: #FFFFFF ;
    width: 80%;
    margin-left: 0.7em;
    border-radius: 1em;
    padding: 0.2em 0.3em 0.2em 0.3em;
    color: #000000;   
  }
  
  .add-record-textarea {
    width: 80%;
    height: 10em;
    background-color: #FFFFFF ;
    margin-left: 0.7em;
    border-radius: 1em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: #000000; 
  }
  
  .add-record-div {
    margin: 1em 0em 1em 0em;
  }
  
  .add-record-button {
    color: #FFFFFF;
    background-color: #153243;
    padding: 0.3em 1.3em 0.3em 1.3em;
  }
  
  .add-record-button-div {
    margin-left: 90%;
  }